<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewposts.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>
    <a href="/"> ← Back</a>
    <h1>View Books</h1>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search for Books..." onkeyup="searchPosts()">
    </div>

    <div class="posts-container">
        {% for post in posts %}
        <div class="post-card">
            <!-- Display only the first image -->
            <img src="{{ url_for('static', filename='uploads/' + post.image) }}" alt="Book Image">
            <h2>{{ post.title }}</h2>
            <p>Class: {{ post.class_name }}</p>
            <a href="{{ url_for('viewpost', post_id=post.id) }}" class="view-button">View</a>
        </div>
        {% endfor %}
    </div>

    <script>
        function searchPosts() {
            var input, filter, postsContainer, postCards, h2, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            postsContainer = document.getElementsByClassName('posts-container')[0];
            postCards = postsContainer.getElementsByClassName('post-card');

            for (i = 0; i < postCards.length; i++) {
                h2 = postCards[i].getElementsByTagName('h2')[0];
                txtValue = h2.textContent || h2.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    postCards[i].style.display = "";
                } else {
                    postCards[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
